<body>
  <div class="upleft" [routerLink]="home">
    <div class="logo">
      <img class="logo" [src]="logoUrl">
    </div>
    <div class="title" >
        <p class="mainTitle">Quizzy</p> 
        <p class="secondaryTitle">Créez et partagez vos quizz</p>
    </div>
  </div>
  <div class="downleft">
    <div class="welcome">Bienvenue {{userLoggedIn}}</div>
  </div>

  <div class="right">
    <span class="button-card">
      <img class="card-img-top" src="assets/menu.png">
      <span class="card-body">
        <p class="card-text">Menu d'édition et historique</p>
      </span>
    </span>
    <span class="button-card">
      <img class="card-img-top" src="assets/ampoule.png">
      <span class="card-body">
        <p class="card-text">Passer des quizz</p>
      </span>
    </span>
  </div>
</body>
<!--{{userLoggedIn}}-->