<body>
  <div class="upleft" [routerLink]="home">
    <div class="logo">
      <img class="logo" [src]="logoUrl">
    </div>
    <div class="title" >
        <p class="mainTitle">Quizzy</p> 
        <p class="secondaryTitle">Créez et partagez vos quiz</p>
    </div>
  </div>
  <div class="downleft">
    <div class="welcome">Bienvenue<br> {{userLoggedIn}}</div>
  </div>

  <div class="right">
    <span class="button-card">
      <a routerLink='/home/edit-menu'>
        <img class="card-img-top" src="assets/menu.png">
        <span class="card-body">
          <p class="card-text">Menu d'édition et historique</p>
        </span>
      </a>
    </span>
    <span class="button-card">
      <a routerLink="/home/pass-quiz/users">
        <img class="card-img-top" src="assets/ampoule.png">
        <span class="card-body">
          <p class="card-text">Passer des quizz</p>
        </span>
      </a>
    </span>
  </div>
</body>
<!--{{userLoggedIn}}-->