<body>
  <div class="upleft" [routerLink]="home">
    <div class="logo">
      <img class="logo" [src]="logoUrl">
    </div>
    <div class="title" >
        <p class="mainTitle">Quizzy</p> 
        <p class="secondaryTitle">Créez et partagez vos quiz</p>
    </div>
  </div>
  <div class="downleft">
    <div class="welcome">Bienvenue<br> {{userLoggedIn}}</div>
    <div class="img-pp">
      <img class="rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
    </div>
  </div>

  <div class="right">
      <a class="button-card" routerLink='/home/edit-menu'>
        <img class="card-img-top" src="assets/menu.png">
        <span class="card-body">
          <p class="card-text">Menu d'édition et historique</p>
        </span>
      </a>
        <a class="button-card" routerLink="/home/pass-quiz/users">
        <img class="card-img-top" src="assets/ampoule.png">
        <span class="card-body">
          <p class="card-text">Passer des quiz</p>
        </span>
      </a>
  </div>
</body>