@import '../../styles/card.scss';
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#gauche{
  width: 40%;
  height: 100%;
  float: left;
}

#droite {
  margin-top: 3%;
  margin-bottom: 10%;
  width: 60%;
  height: 100%;
  float: left;
}

#text {
  color: $blue;
  font-weight: bold;
  font-size: medium;
  margin-left: 20%;
}

#title {
  color: $blue;
  font-weight: bold;
  font-size: xx-large;
}

.logo {
  margin-top: 20%;
  margin-left: 20%;
  width: 100px;
  height: 90px;
}

.image {
  width: 250px;
  height: 250px;
}
p {
  text-align: center;
  font-size: larger;
}

.button-card {
  margin-left: 20%;
  margin-right: 20%;
}

.button-card:hover {
  background-color: lightblue;
}



