html, body { height:100%; margin:0; padding:0 }
div { position:fixed; width:50%; height:50%; background-color: rgb(122,122,122); }
h2{margin: 0.3em;}
.upleft { top:0;   left:0; }
.right { top:0;   left:50%;  height: 100%; display: flex; justify-content: space-around; flex-direction: column; align-items: center;}
.downleft { top: 35%; left:0; height:65% ; display: flex; justify-content: space-evenly;}

.title{
  top: 15%;
  left: 22%;
}

.centered{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.mainTitle{
  color: white;
  font-size: 2.3em;
}

.secondaryTitle{
  color: white;
  font-size: 1.2em;
}

.logo{
  top: 15%;
  left: 15%;
  width: 25%;
}

.in{
  top: 5%;
  width: 30%;
  height: 70%;
}

.card-img-top{
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  height: 80%;
  width: 45%;
}

.button-card{
  background-color: rgba(34, 34, 41, 0.445);
  border: solid;
  text-align: center;
  border-radius: 1em;
  border-color: black;
  height: 40%;
  width: 80%;
}

.button-card:hover{
  background-color: green;
}

.card{
  border: solid;
  border-color: blue;
}

.card-text{
  font-size: 2em;
  color: white;
}

.welcome{
  text-align: center;
  top: 45%;
  font-size: 3em;
  color: white;
}