<div class="card">
    <h2>Ajouter un utilisateur</h2>
    <form class="user-form" [formGroup]="userForm">
      <label for="user">
        Nom d'utilisateur <br>
        <input class="input-custom" type="text" id="userName" [formControlName]="'userName'">
      </label>
      <br>
      <button class="button-card" (click)="addUser()">Add user</button>
      <br>
    </form>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/AUTNebF4fSI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mXccK7Ps4Ik" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hvUI8s0IfeA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<app-user-list></app-user-list>