<div class="card">
  <h4>Créer un nouveau profil</h4>
  <img class="image" [src]="imageUrl">
  <form class="user-form" [formGroup]="userForm">
    <label for="firstName">
      Prénom <br>
      <input class="input-custom"  type="text" id="firstName" [formControlName]="'firstName'">
    </label>
    <br>
    <label for="lastName">
      Nom <br>
      <input class="input-custom"  type="text" id="lastName" [formControlName]="'lastName'">
    </label>
    <br>
    <label for="profilePicture">
      Lien de l'image <br>
      <input class="input-custom"  type="text" id="profilePicture" [formControlName]="'profilePicture'">
    </label>
    <br>
    <button type="submit" class="button-card" (click)="addUser()">Créer</button>
  </form>
</div>

