<div class="row navi">
  <div class="col-md-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/home/edit-menu">Menu d'édition</a></li>
        <li class="breadcrumb-item"><a routerLink="/home/edit-menu/edit-users">Menu d'édition des utilisateurs</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edition des quizz de {{user.firstName}}</li>
      </ol>
    </nav>
  </div>
  <div class="col-md-4 ">
    <span class="text">Edition des quizz de {{user.firstName}}</span>
  </div>
</div>
<div id="gauche">
  <div class="card">
    <h4>Informations du profil</h4>
    <img class="image" [src]="user.profilePicture">
    <form class="user-form" [formGroup]="userForm">
      <label for="firstName">
        Prénom <br>
        <input class="input-custom"  type="text" [value]="user.firstName" id="firstName" [formControlName]="'firstName'">
      </label>
      <br>
      <label for="lastName">
        Nom <br>
        <input class="input-custom"  type="text" [value]="user.lastName" id="lastName" [formControlName]="'lastName'">
      </label>
      <br>
      <label for="profilePicture">
        Lien de l'image <br>
        <input class="input-custom"  type="text" [value]="user.profilePicture" id="profilePicture" [formControlName]="'profilePicture'">
      </label>
      <br>
      <button type="submit" class="button-card" (click)="updateUser()">Enregistrer</button>
    </form>
  </div>
</div>
<div id="droite">
  
    <div class="row">
      <div class="col-md-4 ">
        <input type="text" placeholder="Rechercher..." [(ngModel)]="trim" (input)="search()">
      </div>
    </div>
    
    
    <div class="border border-primary rounded">
      <div class="quiz" *ngFor="let quiz of quizList">
        <div *ngIf="!user.quizzesId">
          <app-quiz [isAdded]=false [edit]=true [quiz]="quiz" (quizAdded)="addQuizToUser($event)" (quizSuspended)="suspendQuizToUser($event)"></app-quiz>
        </div>
        <div *ngIf="user.quizzesId">
          <div *ngIf="isElement(quiz.id)">
            <app-quiz [isAdded]=true [edit]=true [quiz]="quiz" (quizAdded)="addQuizToUser($event)" (quizSuspended)="suspendQuizToUser($event)"></app-quiz>
          </div>
          <div *ngIf="!isElement(quiz.id)">
            <app-quiz [isAdded]=false [edit]=true [quiz]="quiz" (quizAdded)="addQuizToUser($event)" (quizSuspended)="suspendQuizToUser($event)"></app-quiz>
          </div>
      </div>
    </div>
  </div>

</div>
