@import '../../../styles/card.scss';

#gauche{
  margin-top: 2%;
  margin-bottom: 10%;
  width: 30%;
  height: 100%;
  float: left;
}

#droite {
  margin-top: 0%;
  margin-bottom: 10%;
  margin-right: 0%;
  width: 65%;
  height: 100%;
  float: left;
}

.image{
  height: 200px;
  width: 200px;
  border: black 2px;
}

.button-card:hover {
  background-color: lightblue;
}

.border{
  display: inline-flex;
  width: 100%;
  max-width: 100%;
  margin-left: 0%;
  margin-top: 1em;
  padding: 1em 1em 1em 1em;
  overflow: auto;
  background: rgb(150, 150, 150);
}

.text {
  font-size: larger;
  font-weight: bold;
  margin-left: 20%;
  margin-right: 30%;
}

.button {
  width: 50px;
  margin-left: 5px;
  border: gray 2px;
}

.button:hover {
  background-color: gray;
}

.image{
  height: 150px;
  width: 150px;
}

.myButton {
  background-color: $white;
  border: solid 1px $blue;
  color: $blue;
  font-weight: bold;
  padding: 0.5em 1em;
  margin-top: 2%;
  max-width: 34%;
  margin-left: 20%;
}

.myButton:hover {
  background-color: lightblue;
  cursor: pointer;
}


