@import '../../styles/card.scss';
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#gauche{
  margin-top: 5%;
  margin-bottom: 10%;
  width: 50%;
  height: 100%;
  float: left;
}

#droite {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 50%;
  height: 100%;
  float: left;
}

.logo {
  margin-top: 20%;
  margin-left: 20%;
  width: 120px;
  height: 90px;
}

.image {
  width: 250px;
  height: 250px;
}

p {
  text-align: center;
  font-size: larger;
}

.button-card {
  margin-left: 100px;
  margin-right: 100px;
}

.button-card:hover {
  background-color: lightblue;
}

.card {
  color: $blue;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  padding-bottom: 1%;
  margin-top: 1%;
  margin-right: 30%;
  margin-left: 42%;
  box-shadow: none;
  float: none;
}
