<div class="btn btn-primary">
        <i *ngIf ="quiz.imageURL">
          <div class="img-wrap">
            <img [src]="quiz.imageURL">
          </div>
        </i>
        <i *ngIf ="!quiz.imageURL">
          <div class="img-wrap">
            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png">
          </div>
        </i>
        <p class="text-control card-text">
          {{quiz.name}}
        </p>
  <div class="button-card" *ngIf="edit">
    <div *ngIf="isAdded">
      <button class="button" [disabled]=true><i class="fas fa-plus-circle"></i></button>
      <button class="button" (click)="suspendQuiz()"  [disabled]=false><i class="fas fa-minus-circle"></i></button>
    </div>
    <div *ngIf="!isAdded">
      <button class="button" (click)="addQuiz()" [disabled]=false><i class="fas fa-plus-circle"></i></button>
      <button class="button" [disabled]=true><i class="fas fa-minus-circle"></i></button>
    </div>
  </div>
  <div *ngIf="editQuizMenu">
    <button class="button" (click)="editQuiz()"><i class="fas fa-user-edit"></i></button>
    <button class="button" (click)="deleteQuiz()"><i class="fas fa-trash"></i></button>
  </div>
</div>

