@import '../../../styles/card.scss';

.border{
  display: inline-flex;
  width: 100%;
  margin-top: 1em;
  padding: 1em 1em 1em 1em;
  border: solid 2px $blue;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main{
  padding: 1em 5em 1em 1em;
  margin: 2em;
}
