<div class="main">
    <input type="text" placeholder="Rechercher..."><span class="glyphicon glyphicon-search"></span>
    <div class="border border-primary rounded">
        <div class="quiz" *ngFor="let quiz of quizList">
            <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)" (quizDeleted)="quizDeleted($event)"></app-quiz>
        </div>
        <!--<iframe class ="if" width="560" height="315" src="https://www.youtube.com/embed/Ev4OFQK4yNk?start=356" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    </div>
</div>
