.border{
  display: inline-flex;
  width: 100%;
  max-width: 100%;
  margin-top: 1em;
  padding: 1em 1em 1em 1em;
  border: solid 2px;
  overflow: auto;
  background: whitesmoke;
}
.main{
  padding: 1em 5em 1em 1em;
  margin: 2em;
}

.main{
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
