.isKill{
    visibility: hidden
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.center{
    display: flex;
    justify-content: center;
}

.answers{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.giant{
    width:40em;
}

.pad{
    padding-left: 10%;
    padding-right: 10%;
}

