<div class="album py-5 bg-light align-items-center">
    <div class="row">
        <div class="answers" *ngFor="let answer of question.answers; let i = index">
            <div class="card-body" [id]="answer.value">
                <div>
                    <app-pass-reponse [answer]="answer" (answerSelected)="answerSelected($event)"></app-pass-reponse>
                </div>
            </div>
            <div *ngIf="i==1">
                <div *ngIf="foundAnswer" class="btn btn-outline-success" (click)="next()">
                    Bonne réponse !<br>
                    <div *ngIf="!lastQuestion">
                        Passer à la question suivante >
                    </div>
                    <div class="border" *ngIf="lastQuestion">
                        Terminer le quiz >
                    </div>
                </div>
                <div *ngIf="!foundAnswer">
                    <img [src]="question.imageURL" class="img-thumbnail img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
</div>
