.isKill{
    visibility: hidden
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.frame{
    padding-left: 30%;
    padding-right: 30%;
    border: solid 1px indigo;
}

.center{
    display: flex;
    justify-content: center;
}

.answers{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.giant{
    width:40em;
}

.pad{
    padding-left: 10%;
    padding-right: 10%;
}

img {
    display: block;
    max-width:40em;
    max-height:40em;
    width: auto;
    height: auto;
  }