<div class="main">
    <div class="pad center">
        <div *ngIf="foundAnswer" class="btn btn-outline-success giant" (click)="next()">
            <div>
            Bonne réponse !
            </div>
            <div *ngIf="!lastQuestion">
                Passer à la question suivante >
            </div>
            <div *ngIf="lastQuestion">
                Terminer le quiz >
            </div>
        </div>
        <div class="center"*ngIf="!foundAnswer">
            <img [src]="question.imageURL" class="img-fluid">
        </div>
    </div>
    <div class="pad">
        <div class="answers">
            <div *ngFor="let answer of question.answers; let i = index">
                <div class="card-body" [id]="answer.value">
                    <app-pass-reponse [answer]="answer" (answerSelected)="answerSelected($event)"></app-pass-reponse>
                </div>
            </div>
        </div>
    </div>
</div>





