<div *ngIf="!quizDone">
    <div class="jumbotron text-center">Question n°{{numQuestion}}: {{question.label}}</div>
    <br>
    <app-pass-question [question]="question" [lastQuestion]="lastQuestion" (nextQuestion)="nextQuestion($event)"></app-pass-question>
</div>
<div class="quizDone" *ngIf="quizDone">
    <div class="jumbotron text-center">
      <p>Bravo vous avez réussi le quiz !</p>
      <div style="text-align: center;"><img class="image" src="https://lh3.googleusercontent.com/proxy/AEDoOXOz0_LXaGoM3NQ8OUxRGCAVoY49KWHxkHshp4a_oPCXJ5pCKJ-Z2hkrbFdpqcYn3XzRSsRfHcYE3x10cyXP6qj_5v6CDUV4dg">
      </div>
      <br>
      <div class="button-card" routerLink="..">Retourner au menu des quizz ></div>
    </div>
</div>
