@import '../../../styles/card.scss';
.q {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: larger;
  font-family: Helvetica;
  padding-bottom: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  background: grey;
  border: solid 1px black;
}
 .button-card {
   margin-top: 2%;
   max-width: 30%;
   margin-left: 35%;
 }

 .button-card:hover {
   background-color: lightblue;
 }

 p {
   color: forestgreen;
   font-size: larger;
   font-weight: bold;
   margin-top: -5%;
 }

 .text-center{
   color: white;
 }

.image {
  height: 10%;
  width: 30%;
}

.quizDone {
  margin-top: 5em;
}
