@import "../../styles/variables";
@import "../../styles/card";


:host {
  color: $white;
}

.logo {
  display: flex;
  margin-left: 0.5%;
  margin-top: 1%;
}

.button-card {
  background-color: $blue;
}
