<!--
<div class="header">
  <div class="button-card">
    <img class="logo" [src]="logoUrl" (click)="goToHomePage()">
    <span class="text1"> Créez et partagez vos quizz avec </span>
    <span class="text2"> Quizzy </span>
  </div>
  <div class="logout" *ngIf="isLoggedIn">
    <button type="submit" class=" button" (click)="logout()">Déconnexion</button>
  </div>
</div>
-->

<nav class="navbar navbar-dark bg-primary header" *ngIf="isLoggedIn">
  <a class="navbar-brand">
    <img [src]="logoUrl" (click)="goToHomePage()" style="width:45px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="width:60px;">
    <span class="navbar-toggler-icon" style="width:30px;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
