html, body { height:100%; margin:0; padding:0 }
div { position:fixed; width:50%; height:50%; background-color: rgb(122,122,122); }
.header{
  width: 100%;
  z-index: 1;
}

.navbar-brand:hover {
  cursor: pointer;
}

.fas{
  color: whitesmoke;
}


.navbar-toggler:hover {
  background-color: cornflowerblue;
  .fas{
    color: black;
  }
}
