<!--
<div class="header">
  <div class="button-card">
    <img class="logo" [src]="logoUrl" (click)="goToHomePage()">
    <span class="text1"> Créez et partagez vos quizz avec </span>
    <span class="text2"> Quizzy </span>
  </div>
  <div class="logout" *ngIf="isLoggedIn">
    <button type="submit" class=" button" (click)="logout()">Déconnexion</button>
  </div>
</div>
-->

<nav class="navbar navbar-dark bg-primary header" *ngIf="isLoggedIn">
  <a class="navbar-brand">
    <img [src]="logoUrl" (click)="goToHomePage()" style="width:45px;">
  </a>
</nav>
