<div class="card">
  <h4>Créer une nouvelle question</h4>
  <img class="image" [src]="imageUrl">
  <form class="question-form" [formGroup]="questionForm">
    <label for="name">
      Question: <br>
      <input class="input-custom"  type="text" id="name" [formControlName]="'label'">
    </label>
    <br>
    <label for="imageURL">
      Lien de l'image <br>
      <input class="input-custom"  type="text" id="imageURL" [formControlName]="'imageURL'">
    </label>
    <br>
    <button type="submit" class="button-card" (click)="addQuestion()">Créer</button>
  </form>
</div>

