<div class="main">
  <div class="row">
    <div class="col-md-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/home/pass-quiz/users">Liste des accueillis</a></li>
          <li class="breadcrumb-item active" aria-current="page">Liste des quiz disponibles</li>
        </ol>
      </nav>
      
    </div>
    <div class="col-md-4">
      <span class="text">Liste des quiz disponibles</span>
    </div>
    <div class="col-md-4">
      <input type="text" placeholder="Rechercher..." [(ngModel)]="trim" (input)="search()">
    </div>
  </div>  
  
  <span class="glyphicon glyphicon-search"></span>
    
    <div class="border border-primary rounded">
      <div class="quiz" *ngFor="let quiz of quizList">
        <a class="text-control" routerLink="{{quiz.id}}">
          <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)"></app-quiz>
        </a>
      </div>
    </div>
</div>
