<div class="main">
  <input type="text" placeholder="Rechercher..." [(ngModel)]="trim" (input)="search()">
  <span class="glyphicon glyphicon-search"></span>
    <span class="text">Liste des quizz disponibles</span>
    <div class="border border-primary rounded">
      <div class="quiz" *ngFor="let quiz of quizList">
        <a class="text-control" routerLink="{{quiz.id}}">
          <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)"></app-quiz>
        </a>
      </div>
    </div>
  <div class="button-card" (click)="goBack()">< Retourner à la liste des accueillis < </div>
</div>
