@import '../../../styles/card';

.border{
  display: inline-flex;
  width: 100%;
  max-width: 100%;
  margin-top: 1em;
  padding: 1em 1em 1em 1em;
  border: solid 2px $blue;
  overflow: auto;
  background: rgb(150, 150, 150);
}

.main{
  margin: 2%;
}

.navi{
  margin: 2%;
  width: 140%;
}

.text {
  font-size: larger;
  font-weight: bold;
  margin-left: 30%;
}

.button-card {
  margin-top: 2%;
  max-width: 27%;
  margin-left: 40%;
}

.button-card:hover {
  background-color: lightblue;
}
