<div class="btn btn-primary">
      <div class="img-wrap">
        <img [src]="user.profilePicture">
      </div>
    <p class="text-control card-text">
      {{user.firstName}} {{user.lastName}}
    </p>
    <div class="button-card" *ngIf="edit">
      <button class="button" (click)="editUser()"><i class="fas fa-user-edit"></i></button>
      <button class="button" (click)="historyUser()"><i class="far fa-newspaper"></i></button>
      <button class="button" (click)="deleteUser()"><i class="fas fa-trash"></i></button>
    </div>
</div>
