
  <div class="upleft" [routerLink]="home">
    <div class="logo">
      <img class="logo" [src]="logoUrl">
    </div>
    <div class="title" >
        <p class="mainTitle">Quizzy</p> 
        <p class="secondaryTitle">Créez et partagez vos quiz</p>
    </div>
  </div>
  <div class="downleft">
    <form class="in card centered" [formGroup]="registerForm">
      <h2>
        Créer un compte
      </h2>
      <label for="username">
        Nom d'utilisateur: <br>
        <input class="input-custom"  type="text" id="username" [formControlName]="'login'">
      </label>
      <label for="mail">
        E-mail: <br>
        <input class="input-custom"  type="email" id="mail" [formControlName]="'email'">
      </label>
      <label for="password">
        Mot de passe: <br>
        <input class="input-custom"  type="password" id="password" [formControlName]="'password'">
      </label>
      <label for="password">
        Confirmation mot de passe: <br>
        <input class="input-custom"  type="password" id="password" [formControlName]="'passwordConfirmation'">
      </label>
      <button type="submit" class="button-card" id="submit" (click)="register()">s'inscrire</button>
    </form>
  
    <form class="in card centered" [formGroup]="loginForm">
      <h2>
        Se connecter <br>
      </h2>
      <label for="username">
        Nom d'utilisateur: <br>
        <input class="input-custom"  type="text" id="username" [formControlName]="'username'">
      </label>
      <br>
      <label for="password">
        Mot de passe: <br>
        <input class="input-custom"  type="password" id="password" [formControlName]="'password'">
      </label>
      <br>
      <button type="submit" class="button-card" id="submit" (click)="login()">se connecter</button>
    </form>
  </div>

  <div class="right">
    <span class="button-card">
      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Lock_font_awesome.svg/600px-Lock_font_awesome.svg.png" alt="Card image cap">
      <span class="card-body">
        <p class="card-text">Connectez-vous pour jouer à Quizzy</p>
      </span>
    </span>
    <span class="button-card">
      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Lock_font_awesome.svg/600px-Lock_font_awesome.svg.png" alt="Card image cap">
      <span class="card-body">
        <p class="card-text">Connectez-vous pour jouer à Quizzy</p>
      </span>
    </span>
  </div>
