<div class="user-list">
  <div id="gauche">
    <app-question-form></app-question-form>
  </div>
  <div id="droite">
    <div class="row">
      <div class="col-md-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/home/edit-menu">Menu d'édition</a></li>
            <li class="breadcrumb-item"><a routerLink="/home/edit-menu/edit-quizzes">Edition des quiz</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edition des questions</li>
          </ol>
        </nav>
        
      </div>
      <div class="col-md-4 ">
        <span class="text">Edition des questions</span>
      </div>
      <div class="col-md-3 text-right">
        <input type="text" placeholder="Rechercher..." [(ngModel)]="trim" (input)="search()">
      </div>
    </div>
    <div class="border border-primary rounded">
      <div class="user" *ngFor="let question of questionList">
        <app-question [question]="question" (questionEdited)="editQuestion($event)" (questionDeleted)="deleteQuestion($event)"></app-question>
      </div>
    </div>
  </div>
</div>
