<div class="card">
  <h4>Créer un nouveau quiz</h4>
  <img class="image" [src]="imageUrl">
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Nom du quiz <br>
      <input class="input-custom"  type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="theme">
      Thème du quiz <br>
      <input class="input-custom"  type="text" id="theme" [formControlName]="'theme'">
    </label>
    <br>
    <label for="imageURL">
      Lien de l'image <br>
      <input class="input-custom"  type="text" id="imageURL" [formControlName]="'imageURL'">
    </label>
    <br>
    <button type="submit" class="button-card" (click)="addQuiz()">Créer</button>
  </form>
</div>

